# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data (avoid committing big/raw data)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db

# Reports (optional: keep final report only)
reports/*.pdf
reports/*.html

*.zip
*.gz
*.7z

kaggle.json
