name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  python-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Sep up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: | 
          python -m pip install --upgrade pip

      - name: Smoke test(imports)
        run: |
          python -c "import numpy, pandas, matplotlip; print('Imports OK')"

      - name: Basic repo sanity checks
        run: |
          test -d src
          test -d notebooks
          test -d reports
          
